.navbar{
  background: #1f2833 !important;
  padding: 10px;
 position: fixed;
 top: 0;
 z-index: 999;
 right: 0;
 left: 0;
 transition: ease-in-out .5s all;
}
.links{
  color: #fff !important;
  cursor: pointer;
}
.navLink:hover{
  color: #eac100 !important;
}

.banner{
  background-image:linear-gradient(to bottom, transparent,#000),
   url('../public/images/banner.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.nav{
  margin-left: 100px !important;
}
.navLink{
  color: #fff !important;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  cursor:  pointer !important;
  letter-spacing: 1px;
}
.logo{
 color: #eac100 !important;
letter-spacing: 2px;
 font-weight: 800;
 text-transform: uppercase;
 font-size: 23px;
}
.user{
  display: flex;
  list-style: none;
  justify-content: space-around !important;
}


.link1{
  color: #eac100 !important;
  border: 1px solid #eac100;
  padding: 7px 23px !important;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-right: 10px !important;
  cursor:  pointer !important;
  transition: all .5s ease-in-out;
  font-size: 18px;
  border-radius: 5px;
  
}
.link1:hover{
  background-color: #eac100;
  transition: all .5s ease-in-out;
  color: #000 !important;
  border-radius: 35px;
}

.link2{
  font-size: 18px;
  padding: 7px 23px !important;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-right: 10px !important;
  cursor:  pointer !important;
  border: 1px solid #eac100;
  border-radius: 5px;
  color: #eac100;
  transition: all .5s ease-in-out;
}

.link2:hover{
  background-color:#eac100;
  transition: all .5s ease-in-out;
  color: #000 !important;
  border-radius: 35px;
}
.bannerItems{
  position: absolute;
  top: 55%;
  left: 50%;
  color: #fff;
  text-transform:uppercase ;
  transform: translate(-50%,-55%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}
.bannerTitle{
  font-size: 50px;
  font-weight: 900;
}
.bannerItems a{
  background-color: #eac100 !important;
  border: 2px solid #eac100!important;
  padding: 10px 35px;
  margin: 20px auto;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 35px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.bannerItems a:hover{
  transform: translate(0px, -6px);
  box-shadow: 0px 30px 15px -16px rgba(0,0,0,0.4);
}