.box{
    background-color: turquoise;
}

/* Text between <hr> tag */

.serviceTitle {
    padding: 0;
    border: none;
    border-top: medium double #eac100;
    color: #000;
    text-align: center;
    margin: 0px auto;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    height: 100px;
    }
    .serviceTitle:after {
    content: "our services" !important;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.3em;
    padding: 0 0.35em;
    background: #fff;
    opacity: .85;
    }
.box1{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(37, 37, 37, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
     .box2 {
        box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 -2px 20px 0 rgba(8, 8, 8, 0.19);
        padding: 20px;
        background-color:rgba(8, 8, 8, 0.9);
    }
.box3{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(37, 37, 37, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .icon i{
        margin-top: 12px;
        color: #eac100;
        font-size: 45px;
    }

    .boxTitle{
        color: #000;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 28px;
        margin-top: 20px;
        opacity: .85;
    }
    .boxdesc{
        margin-top: 20px;
    }

    .boxdesc1{
        margin-top: 20px;
        color: #fff;
        opacity: .85;
    }

    .boxTitle1{
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 28px;
        margin-top: 20px;
        opacity: .85;
    }